services:

  application:

    build:
      context: "."
      dockerfile: "Dockerfile"

    container_name: "spring-application"
    image: "spring-ticketing-service"
    ports:
      - "8080:8080"

    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://database:5432/ticketing_db"
      SPRING_DATASOURCE_USERNAME: "postgres"
      SPRING_DATASOURCE_PASSWORD: "password"
      SPRING_REDIS_HOST: "redis"
      SPRING_REDIS_PORT: "6379"
      SPRING_KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"

    depends_on:
      database:
        condition: "service_started"
#      redis:
#       condition: "service_started"
#      kafka:
#        condition: "service_started"

    restart: on-failure

  database:

    container_name: "postgresql-database"
    image: postgres:17-alpine
    ports:
      - "5432:5432"

    environment:
      - "POSTGRES_DB=ticketing_db"
      - "POSTGRES_PASSWORD=password"

#  redis:
#
#    container_name: "redis-cache"
#    image: redis:7-alpine
#    ports:
#      - "6379:6379"

