services:

  application:

    build:
      context: "."
      dockerfile: "Dockerfile"

    container_name: "spring-application"
    image: "spring-ticketing-service"
    ports:
      - "8080:8080"

    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://database:5432/ticketing_database"
      SPRING_DATASOURCE_USERNAME: "postgres"
      SPRING_DATASOURCE_PASSWORD: "password"
      SPRING_REDIS_HOST: "redis"
      SPRING_REDIS_PORT: "6379"
      SPRING_KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"

    depends_on:
      database:
        condition: "service_started"
#      redis:
#       condition: "service_started"
#      kafka:
#        condition: "service_started"

    restart: on-failure

  database:

    container_name: "postgresql-database"
    image: postgres:17-alpine
    ports:
      - "5432:5432"

    environment:
      - "POSTGRES_DB=ticketing_database"
      - "POSTGRES_PASSWORD=password"

#  redis:
#    container_name: "redis"
#    image: redis:7-alpine
#    ports:
#      - "6379:6379"

#  kafka:
#    container_name: "kafka"
#    image: "apache/kafka:3.7.0"
#    ports:
#      - "9092:9092"
#
#    environment:
#      - "KAFKA_NODE_ID=1"
#      - "KAFKA_PROCESS_ROLES=controller,broker"
#      - "KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093"
#      - "KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://broker:9092"
#      - "KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER"
#      - "KAFKA_CONTROLLER_QUORUM_VOTERS=1@broker:9093"
#      - "KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"

  prometheus:

    image: prom/prometheus:v3.5.0
    container_name: prometheus
    restart: unless-stopped
    ports:
      - '9090:9090'
    volumes:
      - ./infra/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml
      - 'prometheus-data:/prometheus'
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-lifecycle'
    depends_on:
      - application


  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/etc/grafana/provisioning/dashboards/spring_boot_statistics_dashboard.json
    ports:
      - '3000:3000'
    volumes:
      - ./infra/grafana/provisioning:/etc/grafana/provisioning
      - 'grafana-storage:/var/lib/grafana'
    depends_on:
      - prometheus

volumes:
  prometheus-data:
  grafana-storage:
