spring:

  application.name: ticketing-service

  jpa:
    hibernate:
      ddl-auto: update
#    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/ticketing_database}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:password}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}

#  kafka:
#    bootstrap-servers: broker:9092

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: alpha
    tags-sorter: alpha
  packages-to-scan: dev.ticketing
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  show-actuator: false

management:

  endpoints:
    web:
      exposure:
        include: health, metrics, prometheus

  endpoint:
    health:
      show-details: always

  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
      percentiles:
        http.server.requests: 0.5, 0.95, 0.99

seat:
  occupation:
    ttl-minutes: 10
#
#payment:
#  mock:
#    enabled: true
#    success-rate: 0.9
#    min-delay-ms: 500
#    max-delay-ms: 2000

logging:
  level:
    dev.ticketing.core.site.application.service: DEBUG